.container {
  padding: 0 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.main {
  min-height: 100vh;
  padding: 4rem 0;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  max-width: 640px;
}

.metadata ul {
  margin: 0;
  padding: 0;
}

.metadata li {
  list-style: none;
  margin-bottom: 1em;
  padding: 0;
}

.metadata li a {
  text-decoration: underline;
}

.footer {
  display: flex;
  flex: 1;
  padding: 2rem 0;
  justify-content: center;
  align-items: center;
}

.eth {
  height: 1em;
  margin-left: 0.5rem;
}

.title {
  margin: 0;
  line-height: 1.15;
  font-size: 4rem;
  text-align: left;
}

.thiccList {
  list-style: none;
  margin: 0;
  padding: 0;
}

.thiccList li {
  background: #222;
  border-radius: 6px;
  color: inherit;
  font-size: 1.25em;
  margin-bottom: 1em;
  padding: 1.5rem;
  text-align: left;
  text-decoration: none;
}

@media (max-width: 600px) {
}
